[Unit]
Description=mercury packet metadata capture and analysis
Documentation=man:mercury(1)
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/var/mercury/
ExecStart=/usr/local/bin/mercury --config /etc/mercury/mercury.cfg
StandardOutput=file:/var/log/mercury.log
StandardError=file:/var/log/mercury.log
Restart=always

[Install]
WantedBy=multi-user.target
