config.*
Makefile
src/Makefile
test/Makefile
*.o
src/lctrie/.d/
src/lctrie/*.o
src/lctrie/*.a
src/*.a
src/.#*
src/mercury
python/pmercury/protocols/*.pyr*
python/pmercury/protocols/.#*
python/pmercury/utils/.#*
*.deb
*.rpm
unit_tests/pcaps/*.pcap
.vscode/
*.mk
*.tgz
*CMakeCache.txt
*CMakeFiles/
