name: Docker Image Build and Publish

on:
  push:
    branches:
      - main
      - docker-autobuild

jobs:
  build-and-push-image:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Compute Docker image tags
        id: set-tags
        run: |
          shortSHA=$(git rev-parse --short ${{ github.sha }})
          echo "::set-output name=shatag::$shortSHA"
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "::set-output name=tag::latest"
          else
            echo "::set-output name=tag::test"
          fi
      - name: Build Docker image and publish to GitHub Container Registry
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.set-tags.outputs.shatag }}
            ghcr.io/${{ github.repository }}:${{ steps.set-tags.outputs.tag }}
